<p id="notice"><%= notice %></p>

<div id="mypageheaders"><br>
  <h1 class="pageheaderfont">Records</h1><br>
</div>
<% @records.each do |record| %>
<div class="card" style="width: 22rem;">
  <div class="cardimage">
    <%= image_tag record.avatar.url(:medium), class: "albumcover" %>
  </div>
  <div class="card-header">
    <h5 class="card-title"><%= record.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= record.artist %></h6>
  </div>
  <div class="card-body">
    <p class="card-text">
      Genre: <%= record.genre %><br>
      Year: <%= record.year %><br>
      Price: <%= number_to_currency(record.price) %><br><br>
    </p>
  </div>
  <div class="card-footer text-muted">
    <span class="badge badge-pill badge-light"><%= link_to 'Show', record %></span>
    <span class="badge badge-pill badge-light"><%= link_to 'Edit', edit_record_path(record) %></span>
    <span class="badge badge-pill badge-light"><%= link_to 'Delete', record, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>
</div>
<% end %>

<br>

<%= link_to "[New Record]", new_record_path,id:"footerlink" %>
<%= link_to "[Home]", root_url, id:"footerlink" %>
