<div class="mynotifications">
  <p id="notice"><%= notice %></p>
</div>

<div class="card" style="width: 30rem;" id="showcard">
  <div class="cardimage">
    <%= image_tag @record.avatar.url(:medium), class: "showalbumcover" %>
  </div>
  <div class="card-header">
    <h5 class="card-title">
      <%= @record.title %>
    </h5>

    <h6 class="card-subtitle mb-2 text-muted"><%= @record.artist %></h6>
  </div>
  <div class="card-body">
    <p class="card-text">
      Genre: <%= @record.genre %><br>
      Year: <%= @record.year %><br>
      Price: <%= number_to_currency(@record.price) %><br><br>
    </p>
  </div>
  <div class="card-footer text-muted">
  <span class='commentheader'>Comments</span><br /><br />
  <% @record.comments.each do |comment| %>
    <p><span class='commenttitle'><%= comment.title %></span><br />
      <%= comment.body %>
    </p>
  <% end %>
  <p><span class="badge badge-pill badge-info">
    <%= link_to 'Add Comment', new_record_comment_path(@record) %></span>
  </p>
  <span class="badge badge-pill badge-light"><%= link_to 'Edit', edit_record_path(@record) %></span> |
  <span class="badge badge-pill badge-light"><%= link_to 'Back', records_path %></span>
  </div>
