<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @record.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @record.artist %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @record.genre %>
</p>

<p>
  <strong>Year:</strong>
  <%= @record.year %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@record.price) %>
</p>
<span class='commentheader'>Comments</span><br />
<% @record.comments.each do |comment| %>
<p><span class='commenttitle'><%= comment.title %></span><br />
  <%= comment.body %>
</p>
<% end %>
<p>
  <%= link_to 'Comment', new_record_comment_path(@record) %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
