<p id="notice"><%= notice %></p>

<p>
<%= image_tag @record.avatar.url(:medium) %>
</p>

<p>
  <strong class="showrecordheaders">Title:</strong>
  <span class='showrecordinfo'><%= @record.title %></span>
</p>

<p>
  <strong class="showrecordheaders">Artist:</strong>
  <span class='showrecordinfo'><%= @record.artist %></span>
</p>

<p>
  <strong class="showrecordheaders">Genre:</strong>
  <span class='showrecordinfo'><%= @record.genre %></span>
</p>

<p>
  <strong class="showrecordheaders">Year:</strong>
  <span class='showrecordinfo'><%= @record.year %></span>
</p>

<p>
  <strong class="showrecordheaders">Price:</strong>
  <span class="showrecordinfo"><%= number_to_currency(@record.price) %></span>
</p><br /><br />

<span class='commentheader'>Comments</span><br />
<% @record.comments.each do |comment| %>
<p><span class='commenttitle'><%= comment.title %></span><br />
  <%= comment.body %>
</p>
<% end %>
<p>
  <%= link_to 'Comment', new_record_comment_path(@record) %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
